body {


    height: 1200px;
}

.container_image {

    /* immagine presa da url */
    background-image: url("https://images.unsplash.com/photo-1597733336794-12d05021d510?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXJsfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=500");
    /* immagine presa da locale*/
    background-size: cover; /* l immagine copre tutto lo schermo(container) */
    background-repeat: no-repeat; /* evita l ripetizione */
    background-position: center; /* centra l immagine */
    height: 300px;
    width: 350px;


}

.container_image2 {

    background-image: url("img/raccon.jfif");
    background-size: cover; /* l immagine copre tutto lo schermo(container) */
    background-repeat: no-repeat; /* evita l ripetizione */
    background-position: center; /* centra l immagine */
    height: 300px;
    width: 350px;


}


/* l immagine viene preso da  */
.container_image3 {


    height: 300px;
    width: 350px;


}