*{

    
}



body{

    
    color: #ffff;
    overflow-x: hidden;
}


.video-mask{

    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;


}


.video-mask video{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;

}


.text{

    position: sticky;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 12vw;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    top: 50%;
    
    background: url('video.mp4') no-repeat center center / cover;
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0;
    filter: blur(40px);
    animation: fadeBlur linear both;
    animation-timeline: --scroll-timeline;
    



}

/*Animazione legata allo scroll*/

@scroll-timeline --scroll-timeline {

    source: auto;
    scroll-offsets: (start 20%, end 80%);
}


@keyframes fadeBlur {


    0%{

        opacity: 0;
        filter: blur(40px);
        transform: translateY(-50%) scale(0.95);

    }

    25%{

        opacity: 1;
        filter: blur(10px);
        transform: translateY(-50%) scale(1);
    }

    50%{

        opacity: 1;
        filter: blur(0px);
        transform: translateY(-50%) scale(1);
    }

    75%{

        opacity: 1;
        filter: blur(10px);
        transform: translateY(-50%) scale(1.02);

    }

    100%{

        opacity: 0;
        filter: blur(40px);
        transform: translateY(-50%) scale(1.05);
        
    }



}