body{

    margin: 0;
    padding: 0;
}


.verde{

    position: relative;
    width: 600px;
    height: 500px;
    background-color: green;
}


.blu {

    position: absolute;
    background-color: blue;
    width: 200px;
    height: 200px;
    top: 0;
}


.rosso {

    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
}

.sinistra{

    left: 0;
}

.destra {

    left: 30%;
    margin-left: 25px;
}



.centro_dx {

    top: 25%;
    right: 0px;
}

.centro_sx{

    top: 53px;
    left: 40px;
}